@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&family=Jersey+10&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
.scrollbar::-webkit-scrollbar {
  width: 8px;
}

.scrollbar::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 4px;
}

.scrollbar::-webkit-scrollbar-track {
  background: #1a1a1a;
}