@import url('https://fonts.googleapis.com/css2?family=Jersey+10&family=Poppins:wght@400;600;700&display=swap');
@import "tailwindcss";
@theme {
    --font-jersey: "Jersey 10", cursive;
    --font-poppins: "Poppins", sans-serif;
}